* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}
@keyframes blink {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.4);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.live-dot {
  animation: blink 1s infinite;
}
@keyframes pulseGreen {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes pulseYellow {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

.status-ready {
  animation: pulseGreen 2s infinite;
}

.status-detecting {
  animation: pulseYellow 0.7s infinite;
}

/* Tambahkan ini di style kartu anggota tim kamu */
.team-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.team-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(46, 196, 182, 0.15); /* Menggunakan warna khas toska SignBridge */
}